@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.inner__container {
	width: 820px;
	height: 612px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #28292e;

	border-radius: 2rem;
	transition: 0.3s;
}

.inner__container > .inner__container__right {
	justify-content: center;
}

.inner__container > .inner__container__left > img {
	width: 367px;
	height: 412px;
	transition: 0.1s;
}

.inner__container__right > .inner__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner__container__right > .inner__right > .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 3.25rem;

	margin-bottom: 2rem;

	transition: 0.3s;
}

.inner__container__right > .inner__right > .title > .title__color {
	color: #d4f88a;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 3.25rem;
}

.emailform__container {
	margin-bottom: 1.5rem;
}

.email__box {
	height: 2.5rem;
	width: 17rem;
	border-radius: 0.6rem;
	padding-left: 0.5rem;
	color: #161616;
	font-weight: 500;
}

.passwordform__container {
	margin-bottom: 1.5rem;
}

.password__box {
	height: 2.5rem;
	width: 17rem;
	border-radius: 0.6rem;
	padding-left: 0.5rem;
	color: #161616;
	font-weight: 500;
}

.rememberme__container {
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}

.rememberme__box {
	accent-color: #d4f88a;
}

.rememberme__span {
	padding-left: 0.3rem;
}

.submit__container {
	margin-bottom: 2rem;
}

.submit__box {
	height: 2.5rem;
	width: 17rem;
	border-radius: 0.6rem;
	background-color: #161616;
	border: none;
	transition: 0.3s;
}

.submit__box:hover {
	background-color: #5766ff;
}

.signuplink__container {
	margin-top: 2rem;
}

.signuplink__container a {
	color: #d4f88a;
	text-decoration: none;
	transition: 0.3s;
}

.signuplink__container a:hover {
	color: #5766ff;
}

.errormsg {
	color: firebrick;
	font-size: 13px;
}

.errormsg__container {
	width: 17rem;
	position: fixed;
}

@media screen and (max-width: 960px) {
	.inner__container {
		width: 25.625rem;
		justify-content: center;
	}

	.inner__container > .inner__container__left > img {
		width: 0px;
		height: 0px;
	}

	/* .inner__container > .inner__container__right {
		align-content: center;
	} */

	.inner__container__right > .inner__right > .title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 800;
		font-size: 3.25rem;
		margin-left: 4rem;
	}
}
