.inputField__title {
	outline: none;
	resize: none;

	background-color: #28292e;
	border: 1px;
	border-radius: 5px;

	width: 60vw;
	height: 3.5rem;

	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	padding: 0 1.5rem;
	padding-top: 1rem;
}

.inputField__body {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1.5rem;

	outline: none;
	resize: none;

	background-color: #28292e;
	border: 1px;
	border-radius: 5px;

	width: 60vw;
	height: 25rem;
}

.inputField__label {
	margin-bottom: 0.25rem;
}
