.profilePage__container {
	background-color: #000000;
	min-height: 100vh;
	padding-bottom: 2rem;
}

.profilePage__body__container {
	position: relative;
}

.profilePage__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profilePage__topSection__container {
	width: 83.333333333333vw;
	margin-top: 1rem;
}

.profilePage__topSection__container > h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 2.25rem;
}

.profilePage__profile__information__container {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.profilePage__profile__information {
	display: flex;
}

.profilePage__profile__information > img {
	width: 9.3055555555556vw;
	height: 9.3055555555556vw;
}

.profilePage__profile__information > .profilePage__border {
	width: 0.903vw;
	height: 9.306vw;
	background: #d4f88a;
	display: block;
	content: "";
	margin-left: 1vw;
	margin-right: 1vw;
}

.profilePage__user__name {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
}

.profilePage__user__data {
	width: 20.417vw;
	height: 9.306vw;
	justify-content: space-around;
}

.profilePage__user__subscription {
	display: flex;
	align-items: center;
}

.profilePage__user_subscription__crown {
	width: 2.5vw;
	height: 2.5vw;
	fill: #ffbd59;
	margin-right: 1vw;
}

.profilePage__user__subscription__data {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;

	color: #5766ff;
}

.profilePage__profile_joined__date {
	display: flex;
	flex-direction: column;

	align-items: flex-end;
}

.profilePage__profile_joined__date > p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
}

.profilePage__profile_joined__date > h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
}

.profilePage__user__detailed__data__container {
	display: flex;
	width: 45.208vw;
	justify-content: space-between;
	margin-top: 2rem;
}

.profilePage__user__income__container {
	display: flex;
}

.profilePage__user__detailed__data__container__title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
}

.profilePage__user__detailed__data__container__value {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
}

.profilePage__checkout__btn {
	margin-left: 1rem;

	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	background: #28292e;
	border-radius: 0.625rem;
	border: none;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;

	align-self: center;
}

.profilePage__checkout__btn:hover {
	background-color: #5766ff;
}

.profilePage__border__bottom {
	width: 84vw;
	height: 0.438rem;
	background: #d4f88a;

	margin-top: 1.5rem;
}

.profilePage__bottomSection__container {
	width: 83.333333333333vw;
	margin-top: 2rem;
}

.profilePage__bottomSection__container > h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
}
