.channelView__container {
	position: fixed;
	background: #161616;

	padding-top: 1rem;
	padding-bottom: 1rem;

	width: 100%;
	z-index: 2;
}

.channelView__container > button {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	background: #28292e;
	border-radius: 10px;
	color: white;
	border: none;
}

.channelView__container > button:hover:not(.isActive) {
	background-color: #5766ff;
}

.channelView__container > button:not(:last-child) {
	margin-right: 1rem;
}

.channelView__container > .isActive {
	background-color: #d4f88a;
	color: #28292e;

	font-weight: 500;
}
