.middle-container__thread-section__text {
	text-align: center;
}

.middle-container__thread-section__text > h1 {
	font-size: 3rem;
}

.middle-container__thread-section__text > p {
	font-weight: 300;
}

.left-container {
	height: 100%;
	margin-left: 2.5rem;
	margin-top: 1.7rem;
	margin-right: 2.5rem;
}

.middle-container__thread-section {
	margin-top: 5rem;
	height: 100%;
	width: 100%;
}

.middle-container__thread-section__text {
	margin-top: 2rem;
}

.middle-container {
	width: 53.125rem;
	height: 100%;
	margin-left: 1.2vw;
}
