html,
body {
	height: 100%;
	width: 100%;
}

.all {
	background: #161616;
	width: 100%;
	height: 100%;
}

.body {
	display: flex;
	height: 100%;
}

.middle-container__thread-section__text {
	text-align: center;
	height: 30vw;
}

.middle-container__thread-section__text > h1 {
	font-size: 3rem;
}

.middle-container__thread-section__text > p {
	font-weight: 300;
}

.left-container {
	height: 100%;
	margin-left: 5vw;
	margin-top: 1.7rem;
	margin-right: 2.5vw;
}

.middle-container__thread-section {
	margin-top: 5rem;
	height: 100%;
	width: 100%;
}

.middle-container__thread-section__text {
	margin-top: 2rem;
}

.middle-container {
	width: 62vw;
	height: 100%;
	margin-left: 1.2vw;
}
