.body {
	display: flex;
}

.middle-container__thread-section > h1 {
	font-size: 3rem;
}

.left-container {
	height: 100%;
	margin-left: 2.5rem;
	margin-top: 1.7rem;
	margin-right: 2.5rem;
}

.middle-container__thread-section {
	margin-top: 5rem;
	height: 100%;
	width: 100%;
}

.middle-container {
	height: 100%;
	margin-left: 1rem;
}

.middle-container .middle-container__filter-bar > h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	color: #ffffff;

	padding-top: 1rem;
	margin-bottom: -2.5rem;

	position: absolute;
}

.middle-container__thread-section__text {
	text-align: center;
}

.middle-container__thread-section__text > h1 {
	font-size: 3rem;
}

.middle-container__thread-section__text > p {
	font-weight: 300;
}
