@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.childcomment__profile__container > .childcomment__profile__user__container {
	display: flex;
	margin-top: 1rem;
	margin-left: 1rem;
	/* background-color:aqua; */
}

.childcomment__profile__container
	> .childcomment__profile__user__container
	> img {
	width: 2.438rem;
	height: 2.438rem;
	border-radius: 20px;
}

.childcomment__profile__container
	> .childcomment__profile__user__container
	> .childcomment__profile {
	margin-left: 1.3vw;
}

.childcomment__profile__container
	> .childcomment__profile__user__container
	> .childcomment__profile
	> .childcomment__profile__username__container {
	display: flex;
	align-items: center;
}

.childcomment__profile__container
	> .childcomment__profile__user__container
	> .childcomment__profile
	> .childcomment__profile__username__container
	> .childcomment__profile__username {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin-left: 0.25rem;

	display: flex;
	align-items: center;

	color: #d4f88a;
}

.childcomment__profile__container
	> .childcomment__profile__user__container
	> .childcomment__profile
	> .childcomment__info__date {
	margin-left: 0.25rem;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	font-size: 0.75rem;

	color: #ffffff;
}

.childcomment__profile__container > .childcomment__comment {
	/* margin-left: 3rem; */
	margin-top: 1vh;
	/* background-color:aqua; */
}
