@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.thread__container {
	width: 62vw;
	background: #28292e;
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	padding-bottom: 2rem;
}

.thread__container__top {
	width: 100%;
	height: 2.813rem;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.thread__container__top > .thread__profile__container {
	display: flex;
	margin-left: 2.6vw;
}

.thread__container__top > .thread__profile__container > img {
	width: 2.438rem;
	height: 2.438rem;
}

.thread__container__top > .thread__profile__container > .thread__profile {
	margin-left: 1.3vw;
}

.thread__container__top
	> .thread__profile__container
	> .thread__profile
	> .thread__profile__username__container {
	display: flex;
	align-items: center;
	/* margin-top: -0.25rem; */
}

.thread__container__top > .thread__profile__container > .thread__profile > p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 0.938rem;

	display: flex;
	align-items: center;

	color: #ffffff;
}

.thread__container
	> .thread__container__top
	> .thread__profile__container
	> .thread__profile
	> .thread__profile__username__container
	> .thread__profile__subscription {
	fill: #ffbd59;
	color: #ffbd59;
	margin-right: 0.5vw;
	width: 1rem;
	height: 1rem;
}

.thread__container__top
	> .thread__profile__container
	> .thread__profile
	> .thread__profile__username__container
	> .thread__profile__username {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	font-size: 0.75rem;

	display: flex;
	align-items: center;

	color: #d4f88a;
}

.thread__container__top > .thread__info {
	margin-right: 2.6vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.thread__container__top > .thread__info > .thread__info__date__container {
	display: flex;
	align-items: center;
}

.thread__container__top
	> .thread__info
	> .thread__info__date__container
	> .thread__info__date {
	margin-left: 1vw;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	font-size: 0.75rem;

	color: #ffffff;
}

.thread__container__top
	> .thread__info
	> .thread__info__date__container
	> .thread__info__date__icon {
	width: 1rem;
	height: 1rem;
	color: #ffffff;
}

.thread__container__top > .thread__info > .thread__info__views {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	font-size: 0.75rem;

	color: rgba(255, 255, 255, 0.7);
}

.thread__content {
	width: 100%;
}

.thread__content > .thread__content__title__container {
	margin-bottom: 1rem;
	display: flex;

	margin-left: 2.6vw;
	margin-right: 2.6vw;
}

.thread__content > .thread__content__title__container > .border {
	width: 0.313rem;
	height: 2.188rem;
	margin-right: 1rem;

	background: #5766ff;
}

.thread__content > .thread__content__title__container .thread__content__title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	color: #ffffff;
}

.thread__content > .thread__content__pictures > img {
	margin-top: 1rem;
	max-width: 55vw;
	max-height: 37.5rem;
	margin-left: 2.6vw;
	margin-right: 2.6vw;
}

.thread__buttons__container {
	width: 100%;
	margin-top: 1rem;
}

.thread__container > .thread__buttons__container > .thread__buttons {
	display: flex;
	align-items: center;
	margin-left: 2.6vw;
	margin-right: 2.6vw;
}

.thread__container > .thread__buttons__container > .thread__buttons > button {
	display: flex;
	align-items: center;

	margin-right: 1vw;
	background: #1e1e1e;
	border-radius: 0.313rem;
	border: none;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1vw;
	padding-right: 1vw;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> button:hover {
	display: flex;
	align-items: center;
	background: #5766ff;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> button
	> .thread__buttons__icons {
	width: 1.25rem;
	height: 1.25rem;
	color: white;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> button
	> .thread__buttons__downvote__icon {
	rotate: 180deg;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> button
	> .thread__buttons__value {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 0.8rem;
	display: flex;
	align-items: center;

	color: #ffffff;
	margin-left: 1vw;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> .thread__buttons__share
	> .thread__buttons__value {
	display: none;
}

.thread__container
	> .thread__buttons__container
	> .thread__buttons
	> .thread__buttons__share:hover
	> .thread__buttons__value {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 0.8rem;
	display: flex;
	align-items: center;

	color: #ffffff;
	margin-left: 1vw;
}

.popupthread__comment__container {
	/* background-color: #ffbd59; */
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.popupthread__comment__container > label {
	margin-left: 2.6vw;
	margin-right: 2.6vw;
}

.popupthread__comment__container > .popupthread__user__comment__container {
	/* background-color: #5766ff; */

	margin-top: 1rem;
	max-width: 60vw;
	max-height: 37.5rem;
	margin-left: 2.6vw;
	margin-right: 2.6vw;

	display: flex;
	margin-left: 2.6vw;
	/* flex-direction: column; */
}

.popupthread__comment__container
	> .popupthread__user__comment__container
	> img {
	width: 2.438rem;
	height: 2.438rem;

	border-radius: 20px;
}

.popupthread__comment__container
	> .popupthread__user__comment__container
	> .popupthread__user__comment__text {
	width: 80%;
	margin-left: 1rem;
	margin-right: 0.5rem;
	border-radius: 7.5px;
	padding-left: 0.75rem;
	font-weight: 300;
	font-size: 14px;
	color: #1e1e1e;
	border: none;
}

.thread__container
	> .popupthread__comment__container
	> .popupthread__user__comment__container
	> .popupthread__user__submit__comment {
	width: 20%;
	margin-left: 0.5rem;
	border-radius: 7.5px;
	border: none;
	transition: 0.3s;

	background-color: #1e1e1e;
}

.thread__container
	> .popupthread__comment__container
	> .popupthread__user__comment__container
	> .popupthread__user__submit__comment:hover {
	background-color: #5766ff;
}

.thread__container
	> .popupthread__comment__container
	> .popupthread__blackline {
	background-color: #1e1e1e;
	width: 91.5%;
	height: 3px;
	margin-left: 2.6vw;
	margin-right: 2.6vw;
	margin-top: 2.6vw;
	margin-bottom: 2.6vw;
}

.thread__container
	> .popupthread__comment__container
	> .popupthread__commentlist__container {
	background-color: #363636;
	width: 91.5%;
	margin-left: 2.6vw;
	margin-right: 2.6vw;
	height: 100%;
	border-radius: 0.625rem;
	padding-top: 0.1rem;
	padding-bottom: 2rem;
	margin-bottom: -1.5rem;
}
