.space__info__container {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1vw;
	padding-right: 1vw;
	cursor: pointer;
}

.space__info__container:hover {
	background-color: #5766ff;
	border-radius: 5px;
}

.space__info__container > .space__data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1vw;
}

.space__info__container > .space__data > .space__title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	color: #ffffff;
}

.space__info__container > .space__data > .space__member {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 200;
	font-size: 0.75rem;
	color: #ffffff;
}

.space__profile-picture {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
