.create__thread__container {
	padding-left: 10vw;
}

.select__dropdown {
	background-color: #28292e;
}

.create__thread__title {
	display: flex;
	align-items: center;

	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.create__thread__title > .border {
	width: 0.313rem;
	height: 2.625rem;
	background: #5766ff;
	margin-left: 1vw;
}

.create__thread__title > h1 {
	font-size: 2rem;
	font-weight: 700;

	margin-left: 1rem;
}

.create__thread__target__container {
	margin-left: 3vw;
}

.create__thread__target__container > * {
	margin-bottom: 0.5rem;
}

.create__thread__inputImage {
	margin-top: 1rem;
}

.create__thread__inputImage > h1 {
	font-size: 1rem;
	font-weight: 500;
}
