.user-profile-picture {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
}

.navbar-profile-picture-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.navbar-profile-picture-container > .navbar-account-dropdown {
	position: absolute;
	top: 3rem;
	right: 0rem;

	padding-top: 0.09rem;
	padding-bottom: 0.09rem;
	background: #363636;
	z-index: 3;
}

.navbar-profile-picture-container > .navbar-account-dropdown > .more__navbar {
	display: block;

	padding-left: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;

	color: #ffffff;

	width: 9.063rem;
	text-decoration: none;
}

.navbar-profile-picture-container
	> .navbar-account-dropdown
	> .more__navbar:hover {
	background-color: #5766ff;
}

.account-information-container {
	display: flex;
	gap: 1rem;
}
