@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    height: 4.306vw;
    position: fixed;
    background: #28292E;
    display: flex;
    justify-content: center;

}

.navbar > .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 91.181vw;
}

.navbar > .navbar-container > .logo-container{
    display: flex;
    width: 14.444vw;
    height: 100%;
    align-items: center;
    margin-left: -2vw;
    
}

.navbar-container > .logo-container > img{
    width: 3.194vw;
    height: 3.194vw;
}

.navbar-container > .logo-container > .logo-name-container{
    display: flex;
    margin-left: 1vw;
}

.navbar-container > .logo-container > .logo-name-container > #logo-first{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.667vw;
    color: #D4F88A;
}

.navbar-container > .logo-container > .logo-name-container > #logo-second{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.667vw;
    color: #FFFFFF;
}

.navbar-container > .search-bar-container{
    display: flex;
    align-items: center;
}

.navbar-container > .search-bar-container > .search-bar{
    width: 35.208vw;
    height: 2.569vw;
    background: #F9F9F9;
    border-radius: 0.347vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container > .search-bar-container > .search-bar > span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container > .search-bar-container > .search-bar > span > .search-icon{
    width: 1.458vw;
    height: 1.458vw;
    margin-left: 1.5vw;
}

.navbar-container > .search-bar-container > .search-bar > .search-input{
    border: 0;
    padding-left: 1vw;
    width: 30vw;
    height: 100%;
    outline: none;
}

.navbar-container > .search-bar-container > .search-bar > .search-input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.6);
}

.navbar-container > .search-bar-container > .search-bar > .search-input::content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.6);
}

.navbar-container > .add-post-container{
    width: 2.569vw;
    height: 2.569vw;
    border-radius: 0.694vw;
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.navbar-container > .add-post-container:hover{
    background: #5766FF;
}

.navbar-container > .add-post-container > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 0.833vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
   
}

.account-information-container{
    display: flex;

}

.account-information-container > .user-information-data-container > .user-username-container{
    display: flex;
    justify-content: right;
    
}

.account-information-container > .user-information-data-container > .user-username-container > .user-ast{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    color: #FFFFFF;
}

.account-information-container > .user-information-data-container > .user-username-container > .user-username{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    color: #FFFFFF;
}

.account-information-container > .user-information-data-container > .user-subscription-container{
    display: flex;
    justify-content: right;
}

.account-information-container > .user-information-data-container > .user-subscription-container > .icon-membership-yellow{
    color: #FFBD59;
    width: 1.458vw;
    height: 1.458vw;
}

.account-information-container > .user-information-data-container > .user-subscription-container > .user-subscription{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: #5766FF;
    margin-right: 0.5vw;
}

.account-information-container > .border{
    width: 0.347vw;
    height: 2.917vw;
    background: #5766FF;
    margin-left: 1vw;
}

.sign-in-button{
    margin-left: 15vw;
    border: none;
    background: #1E1E1E;
    border-radius: 0.694vw;
    width: 7.083vw;
    height: 2.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #FFFFFF;
}

.sign-in-button:hover{
    background: #5766FF;
}


.user-profile-picture{
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
}

.background > .account-more-container{
    position: absolute;
    width: 145px;
    height: 108px;
    background: #363636;
    z-index: 1000;
    right: 0;
}