@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.inner__container > .inner__container__left {
	justify-content: center;
}

.inner__container > .inner__container__right > img {
	width: 367px;
	height: 412px;
}

.inner__container__left > .inner__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner__container__left > .inner__left > .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 52px;

	margin-bottom: 2rem;
}

.inner__container__left > .inner__left > .title > .title__color {
	color: #d4f88a;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 52px;
}

.username__email__password__forgot {
	margin-bottom: 1rem;
}

.usernameform__box {
	margin-bottom: 1.5rem;
	
}

.emailform__box {
	margin-bottom: 1.5rem;
}

/* ++++++++++++++++++++++ */
.passwordform__box {
	margin-bottom: 1.5rem;
	
}

.privacypolicy__box {
	margin-bottom: 1.5rem;
}

.submit__box {
	margin-bottom: 1.5rem;
}

.email__box input {
	width: 260px;
	height: 35px;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 500;
	text-indent: 10px;
}

/* ++++++++++++++++++++++ */


.password__box input {
	outline: none;
	color: black;
	background-color: white;
	border: none;
	
	font-size: 16px;
	font-weight: 500;
	text-indent: 10px;
	width: 260px;
	height: 35px;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 7px;
}


.privacypolicy {
	display: flex;
}

.privacypolicy input:checked {
	accent-color: #5766ff;
	border: none;
}

.privacypolicy span {
	color: white;
	padding-left: 5px;
	font-size: 14px;
	padding-bottom: 1px;
}

.signuplink__text span {
	color: white;
}

.signuplink__text span .Login {
	color: #d4f88a;
	text-decoration: none;
	transition: 0.3s;
}

.signuplink__text span .Login:hover {
	color: #5766ff;
}

.signuplink__text span .Register {
	font-size: 16px;
	color: #5766ff;
	text-decoration: none;
	transition: 0.3s;
}

.signuplink__text span .Register:hover {
	color: #d4f88a;
}

a {
	text-decoration: none;
}

.submit__box input {
	width: 260px;
	height: 40px;
	background-color: #161616;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
	border: none;
}

.submit__box input:hover {
	background-color: #5766ff;
	color: white;
}

.username__box input {
	width: 260px;
	height: 35px;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 500;
	text-indent: 10px;

}

.errormsg {
	color: firebrick;
	font-size: 13px;
}

.errormsg__container {
	width: 17rem;
	position: fixed;
}

.AiFillEyeInvisible{
	fill: #000;
}

@media screen and (max-width: 974px) {
	.inner__container {
		width: 25.625rem;
		justify-content: center;
	}

	.inner__container > .inner__container__right > img {
		width: 0px;
		height: 0px;
	}

	.inner__container__right > .inner__right > .title {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 800;
		font-size: 3.25rem;
		margin-left: 4rem;
	}
}