@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.inner__container > .inner__container__left {
	justify-content: center;
}

.inner__container > .inner__container__right > img {
	width: 367px;
	height: 412px;
}

.inner__container__left > .inner__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner__container__left > .inner__left > .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 52px;

	margin-bottom: 2rem;
}

.inner__container__left > .inner__left > .title > .title__color {
	color: #d4f88a;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-size: 52px;
}

.username__email__password__forgot {
	margin-bottom: 1rem;
}

.usernameform__box {
	margin-bottom: 1rem;
}

.emailform__box {
	margin-bottom: 1rem;
}

.passwordform__box {
	margin-bottom: 1rem;
}

.privacypolicy__box {
	margin-bottom: 1rem;
}

.submit__box {
	margin-bottom: 1rem;
}
