.space__view__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    margin-top: 1rem;

}
.space__view__container > .space__view__title__container{
    display: flex;
    align-items: center;
    width: 100%;
}

.space__view__container > .space__view__title__container > .border{
    width: 0.563rem;
    height: 2.188rem;
    background: #D4F88A;
}

.space__view__container > .space__view__title__container > .space__view__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1.3vw;

    color: #FFFFFF;
}

.space__discover__container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.space__view__container > .space__user__joined{
    width: 100%;
}

.space__discover__container > .space__discover{
    width: 19vw;
    background: #28292E;
    border-radius: 10px;
    color: white;
    border: none;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.space__discover__container > .space__discover:hover{
    background-color: #5766ff;
}