.submitButton {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 30vw;
	height: 2rem;
	background-color: #28292e;

	border-radius: 0.25rem;
	border: none;

	margin-top: 2rem;
}

.submitButton:hover {
	background-color: #5766ff;
}
